/* container_commands: */
/*   01_reload_nginx: */
/*     command: "service nginx reload" */
/* files: */
/*   "/etc/nginx/conf.d/proxy.conf" : */
/*     mode: "000755" */
/*     owner: root */
/*     group: root */
/*     content: | */
/*       client_max_body_size 2048M; */
/*   "/etc/nginx/conf.d/webapp.conf" : */
/*     mode: "000644" */
/*     owner: root */
/*     group: root */
/*     content: | */
/*       upstream my_app { */
/*         server unix:///var/run/puma/my_app.sock; */
/*       } */
/*       limit_req_zone $binary_remote_addr zone=one:10m rate=10r/s; */
/*       server { */
/*         listen 80; */
/*         server_name _ localhost; # need to listen to localhost for worker tier */
/*         gzip on; */
/*         gzip_http_version 1.1; */
/*         gzip_comp_level 5; */
/*         gzip_min_length 256; */
/*         gzip_proxied any; */
/*         gzip_vary on; */

/*         location / { */
/*           limit_req zone=one burst=10; */
/*           proxy_pass http://my_app; # match the name of upstream directive which is defined above */
/*           proxy_set_header Host $host; */
/*           proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; */

/*           # Pass health to rails. */
/*           if ($request_uri ~* "health") { */
/*             proxy_pass http://my_app; */
/*             break; */
/*           } */

/*           if ($http_x_forwarded_proto = "http") { return 302 https://$host$request_uri; } */
/*         } */

/*         location /assets { */
/*           alias /var/app/current/public/assets; */
/*           gzip_static on; */
/*           gzip on; */
/*           expires max; */
/*           add_header Cache-Control public; */
/*         } */

/*         location /public { */
/*           alias /var/app/current/public; */
/*           gzip_static on; */
/*           gzip on; */
/*           expires max; */
/*           add_header Cache-Control public; */
/*         } */

/*         location ~* \.(eot|ttf|woff|woff2)$ { */
/*           add_header Access-Control-Allow-Origin *; */
/*         } */
/*       } */
