// main
$blue-navy: #29304d;
$blue-navy-light: #df5f18;
$gray-light: #c8c7cf;
$orange-dark: #df5f18;
$orange-light: #e58440;
$orange-cream: #e58440;

// social
$facebook: #3a589e;
$line: #00c300;
$twitter: #4ab3f4;

// basic
$black: #000000;
$white: #ffffff;

// others
