@font-face {
  font-family: "Browallia New";
  src: asset_url('fonts/Browallia_New.ttf') format("truetype");
}

@font-face {
  font-family: "Axis";
  src: url(/assets/fonts/Axis.otf) format("opentype");
}

@font-face {
  font-family: "Circular";
  src: asset_url('fonts/Circular.ttf') format("truetype");
}

@font-face {
  font-family: "Supermarket";
  src: url(/assets/fonts/Supermarket.ttf) format("truetype");
}
