@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";

@import "theme/colors";

$global-space: 30px;
$ic-width: 1230px;
$ic-width-mobile: 580px;
$ic-width-tablet: 900px;
$ic-width-tablet-l: 1200px;

$lato: 'Lato';

@font-face {
  font-family: "Browallia New";
  src: url(/assets/fonts/Browallia_New.ttf) format("truetype");
}

@font-face {
  font-family: "Axis";
  src: url(/assets/fonts/Axis.otf) format("opentype");
}

@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/Circular.ttf) format("truetype");
}

@font-face {
  font-family: "Supermarket";
  src: url(/assets/fonts/Supermarket.ttf) format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  font-family: "kanit", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  font-size: 18px;
  color: $blue-navy-light;

  .navbar-brand {
    img {
      max-height: 40px;
    }
  }

  a {
    &:hover {
      color: $gray-text;
      transition: color 200ms linear;
    }
  }

  &.fixed-top {
    &.scrolled {
      background-color: #29304d !important;
      transition: background-color 200ms linear;
      color: $ghostwhite !important;
    }
  }
}

.Hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;

  .logo-row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .logo-col {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:first-child {
        margin-right: 30px;
      }
    }
  }

  img {
    &.rabbit {
      max-width: 400px;
      max-height: 400px;
      position: relative;
    }
    &.text {
      max-width: 300px;
      max-height: 300px;
      margin-bottom: -150px;

      &:first-child {
        margin-top: -150px;
      }
    }
  }

  &--green {
    background-color: green;
  }

  &--yellow {
    background-color: yellow;
  }
}

.ParticlesSpace {
  cursor: pointer;
  margin: 0;
  paddin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}

.Countdown {
  // Countdown
  height: 60vh;
  background-color: #f2f1ed;
  
  .countdown {
    width: 720px;
    margin: 0 auto;

    .bloc-time {
      float: left;
      margin-right: 45px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }

    .count-title {
      display: block;
      margin-bottom: 15px;
      font: normal 0.94em $lato;
      color: #1a1a1a;
      text-transform: uppercase;
    }

    .figure {
      position: relative;
      float: left;
      height: 110px;
      width: 100px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 8px;
      // @include box-shadow(
      //   0 3px 4px 0 rgba(0, 0, 0, 0.2),
      //   inset 2px 4px 0 0 rgba(255, 255, 255, 0.08)
      // );

      &:last-child {
        margin-right: 0;
      }

      > span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font: normal 5.94em/107px $lato;
        font-weight: 700;
        color: #de4848;
      }

      .top,
      .bottom-back {
        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }

      .top {
        z-index: 3;
        background-color: #f7f7f7;
        transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        @include border-top-radius(10px);
        @include transform(perspective(200px));
      }

      .bottom {
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background-color: rgba(0, 0, 0, 0.02);
        }
      }

      .bottom-back {
        z-index: 2;
        top: 0;
        height: 50%;
        overflow: hidden;
        background-color: #f7f7f7;
        @include border-top-radius(10px);

        span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      .top,
      .top-back {
        height: 50%;
        overflow: hidden;
        @include backface-visibility(hidden);
      }

      .top-back {
        z-index: 4;
        bottom: 0;
        background-color: #fff;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        @include transform(perspective(200px) rotateX(180deg));
        @include border-bottom-radius(10px);

        span {
          position: absolute;
          top: -100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}
